<%# <%= form_with url: artist_tracks_path do |form| %> %>
  <%= form_with(model: track, local: true) do |form| %>
    <% if track.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h2>
        <ul>
          <% track.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div class="field">
      <%#= form.label :spotify_track_id %>
      <%#= form.text_field :spotify_track_id %>
    </div>
    <div class="field">
      <%= form.label :track_url %>
      <%= form.text_field :track_url %>
    </div>
    <div class="field">
      <%#= form.label :priority %>
      <label>Track No</label>
      <%#= form.number_field :priority %>
      <%= form.select :priority, options_for_select(@tracksOrder), {include_blank: 'Select track order'} %>
    </div>
    <div class="field">
      <%= form.label :album_bg_url %>
      <%= form.text_field :album_bg_url %>
    </div>
    <div class="field">
      <%= form.label :artist_name %>
      <%= form.text_field :artist_name %>
    </div>
    <div class="field">
      <p>Recorded in</p>
      <%= form.select :recorded_in, options_from_collection_for_select(@cities, :id, :description, @location&.id),{include_blank: 'Select location'} %>
    </div>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
