<p id="notice"><%= notice %></p>
<h3><%= @artist.name %></h3>
<%= image_tag @artist.photourl, size:'150' %>
<%@artist_networks.each do |elem|  %>
  <%= link_to elem.social_link, target: :_blank do %>
    <%= image_tag elem.network.icon_url, size:'50'  %>
  <% end %>
  <p><%= elem.network.name %></p>
<% end %>
<h5>Tracks</h5>
<%@tracks.each do |track|  %>
  <span><%= track.priority %></span>
  <%= image_tag track.album_bg_url, size:'100' %>
  <span><%= track.name %></span>
  <br>
<% end %>
<br>
<%
=begin  %>
<h1>Tracks</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Spotify track</th>
      <th>Track url</th>
      <th>Priority</th>
      <th>Abum bg url</th>
      <th>Artist</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td><%= track.name %></td>
        <td><%= track.spotify_track_id %></td>
        <td><%= track.track_url %></td>
        <td><%= track.priority %></td>
        <td><%= track.abum_bg_url %></td>
        <td><%= track.artist_id %></td>
        <td><%= link_to 'Show', track %></td>
        <td><%= link_to 'Edit', edit_track_path(track) %></td>
        <td><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%
=end%>
<%= link_to 'Back', artists_path %>
<%= link_to 'New Track', new_artist_track_path(@artist) %>
