<%= form_with(model: artist, local: true) do |form| %>
  <% if artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>
      <ul>
        <% artist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :spotify_artist_id %>
    <i>Hacer un buscador con spotify API</i>
    <%= form.text_field :spotify_artist_id %>
  </div>
  <div class="field">
    <%= form.label :genre %>
    <%#= form.text_field :genre %>
    <%@genres.each do |elem| %>
      <%= form.label elem.name %>
      <%= form.check_box :genre, {multiple: true}, elem.id, nil  %>
    <% end %>
  </div>
  <div class="field">
    <%= form.label :dpa_id %>
    <%#= form.text_field :location %>
    <%#= form.select :festival_id, options_from_collection_for_select(Festival.all.ordered, :id, :name),{include_blank: 'Select your festival'}, class: 'form-control' %>
    <%= form.select :dpa_id, options_from_collection_for_select(@location, :id, :description),{include_blank: 'Select location'} %>
  </div>
  <div class="field">
    <%= form.label :photourl %>
    <%= form.text_field :photourl %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
