<%= form_with(model: artist, local: true) do |form| %>
  <% if artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>
      <ul>
        <% artist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :spotify_artist_id %>
    <i>Hacer un buscador con spotify API</i>
    <%= form.text_field :spotify_artist_id %>
  </div>
  <div class="field">
    <p>Genres: </p>
    <%= form.collection_check_boxes(:genre_list, @genres, :id, :name, { checked: genre_edit(@genre)  }) %>
  </div>
  <div class="field">
    <%= form.label :dpa_id %>
    <%= form.select :dpa_id, options_from_collection_for_select(@location, :id, :description, @city&.id),{include_blank: 'Select location'} %>
  </div>
  <div class="field">
    <%= form.label :photourl %>
    <%= form.text_field :photourl %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
