<div>
  <h3>Artists</h3>
  <% @artists.each do |artist| %>
    <p><%= artist.name%></p>
    <%= link_to artist_tracks_path artist do %>
      <%= image_tag artist.photourl, size:'150' %>
    <% end %>
  <% end %>
</div>
<%= link_to "Anadir mas generos", genres_path %> |
<a href="#">Ver mas</a><br>
<%= link_to 'New Artist', new_artist_path %>
<%
=begin%>
<p id="notice"><%= notice %></p>
<h1>Artists</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Genre</th>
      <th>Location</th>
      <th>Photourl</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= artist.genre %></td>
        <td><%= artist.location %></td>
        <td><%= artist.photourl %></td>
        <td><%= link_to 'Show', artist %></td>
        <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
        <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Artist', new_artist_path %>
<%
=end%>
