<p id="notice"><%= notice %></p>
<h3><%= @artist.name %></h3>
<%= image_tag @artist.photourl, size:'150' %>
<%= @artist&.location&.city_provincia || ''%>
<%@artist_networks.each do |elem|  %>
  <%= link_to slug_user(elem), target: :_blank do %>
    <%= image_tag elem.network.icon_url, size:'50'  %>
    <span>  @<%= elem.user_name %>  </span>
  <% end %>
<% end %>
<br>
<%
=begin  %>
<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>
<p>
  <strong>Genre:</strong>
  <%= @artist.genre %>
</p>
<p>
  <strong>Location:</strong>
  <%= @artist.location %>
</p>
<p>
  <strong>Photourl:</strong>
  <%= @artist.photourl %>
</p>
<%
=end%>
<%= link_to 'Subir canciones', new_artist_track_path(@artist)%> |
<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
