<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @dpa.description %>
</p>

<p>
  <strong>Hierarchy:</strong>
  <%= @dpa.hierarchy %>
</p>

<p>
  <strong>Bg url:</strong>
  <%= @dpa.bg_url %>
</p>

<p>
  <strong>Dpa:</strong>
  <%= @dpa.dpa_id %>
</p>

<%= link_to 'Edit', edit_dpa_path(@dpa) %> |
<%= link_to 'Back', dpas_path %>
